#LISTEN_INTERFACE=0.0.0.0
#LISTEN_PORT=8463
## Setting an API_KEY is optional for a simple check.  If one is not set, then any api key will be accepted
#API_KEY=
## COMIC_TRUNK defines what type of backing data the API will serve.  By default it will use a simple HTTP cache.
## Values can be Cache, JSON, or StaticDB
#COMIC_TRUNK=Cache


## Location of a failures file, used for forcing certain responses when used as a testing tool
#FAILURE_FILE=failures.json

## Settings for the Static DB
#STATICDB_PATH=fakevine.db

## Settings for the Simple Cache
#CACHE_CV_API_KEY=REPLACE_WITH_VALID_CV_API_KEY
#CACHE_CV_API_URL=https://comicvine.gamespot.com/api
#CACHE_DB_PATH=requests-cache.sqlite
## The expiry time for cache entries in minutes.  Defaults to 1 day
#CACHE_EXPIRY_MINUTES=1440
